@import "Styles/variables.scss";

.formElementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  justify-content: center;
  align-items: center;
  background: $formBg;
  padding: 3em;
  width: 300px;
}
