@import "Styles/variables.scss";

.button {
  outline: none;
  border: none;
  border-radius: 0.2em;
  color: $white;
  background: $yellowBg;
  padding: 0.5em 0;
  font-size: 0.9em;
  &:hover {
    cursor: pointer;
    background: $yellowBgLight;
  }
  &:disabled {
    background: $yellowBgDark;
    color: $greyLight;
    cursor: auto;
  }
}
