.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  .videosWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnLeft,
  .btnRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
