@import "Styles/variables.scss";

.imgWrapper {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
  @media (max-width: 1024px) {
    height: 100px;
  }

  img {
    box-shadow: $shadow;
    height: 100%;
    width: auto;
  }
}
